.RTable {
  margin: 20px 0 0 0;
  padding: 0;
  border: 1px solid #2e7d3259;
  border-radius: 5px;
  user-select: none;
}

.RTable tbody :nth-child(2n) {
  background: #f7f7f7;
}

.RTable thead td {
  height: 50px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 14px;
  text-align: left;
  font-size: 14px;
  font-family: Tahoma;
  background-color: #ebebeb;
  color: #3f3f3f;
}

.inp {
  height: 40px;
  font-size: 14px;
  color: #3F3F3F;
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.20);
  box-sizing: border-box;
  padding-left: 15px;
}

span {
  display: inline-block;
  vertical-align: middle;
}

.sortHeader {
  border-bottom: 1px dotted;
  cursor: pointer;
  /*добавить*/
}

.amount{
  text-align: right!important;
}

.header-amount {
  text-align: right!important;
  padding-right: 15px!important;
}

.sortArrowDown, .sortArrowUp {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfkAg4KJCr82nrBAAAAcElEQVQoz+WQuwmAQBAFB0VLUDgEe9HAnq4KrcBSDExMrwJzwQpU1kRlz08FvoUNhmFZHuiUCEKpUeAJsdqvwkt+JqRYzEUNluSuNiw4BMGxUD9vRfTIMYNf95mMCUGYyb8+KljZqDQKPWFE6Gg12gGKQBoU/YgmKQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0wMi0xNFQxMDozNjo0MSswMDowMABxFbkAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjAtMDItMTRUMTA6MzY6NDErMDA6MDBxLK0FAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-size: 12px;
  width: 12px;
  height: 12px;
}

.sortArrowDown {
  transform: rotate(180deg);
}

.sortNumber {
  font-size: 8px;
  text-decoration: none;
  vertical-align: sub;
}

.pageBlock {
  display: inline-block;
  margin: 20px 0 20px 10px;
}

.pageBlock span {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #ebebeb;
  font-size: 14px;
  color: #a2a2a2;
  text-decoration: none;
  margin: 2px;
  cursor: pointer;
}

.activePage {
  background-color: #2e7d32!important;
  color: #ffffff!important;
}

.pagerFiller {
  background-color: #FFFFFF!important;
  box-shadow: none!important;
  cursor: default!important;
}

.toolbarButton {
  box-sizing: border-box;
  margin-right: 10px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #2e7d32;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(32, 32, 32, 0.25);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #43a047;
  cursor: pointer;
}

.toolbarButton:focus {
  outline: #229227 auto 1px;
}

.ToolbarTop {
  box-sizing: border-box;
  padding: 10px 10px 10px 0;
  text-align: right;
}